In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
df = pd.read_csv('main_articles.csv')
art = pd.read_csv('/home/exouser/HnMRecProject/data/articles.csv')

In [30]:
a = df.merge(art, on= 'article_id')

In [32]:
a.head()

,article_id,count,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,706016001,50287,706016,Jade HW Skinny Denim TRS,272,Trousers,Garment Lower body,1010016,Solid,9,...,Trousers,D,Divided,2,Divided,53,Divided Collection,1009,Trousers,High-waisted jeans in washed superstretch deni...
1,706016002,35043,706016,Jade HW Skinny Denim TRS,272,Trousers,Garment Lower body,1010016,Solid,71,...,Trousers,D,Divided,2,Divided,53,Divided Collection,1009,Trousers,High-waisted jeans in washed superstretch deni...
2,372860001,31718,372860,7p Basic Shaftless,302,Socks,Socks & Tights,1010016,Solid,9,...,Shopbasket Socks,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Fine-knit trainer socks in a soft cotton blend.
3,610776002,30199,610776,Tilly (1),255,T-shirt,Garment Upper body,1010016,Solid,9,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,T-shirt in lightweight jersey with a rounded h...
4,759871002,26329,759871,Tilda tank,253,Vest top,Garment Upper body,1010016,Solid,9,...,EQ Divided Basics,D,Divided,2,Divided,80,Divided Complements Other,1002,Jersey Basic,"Cropped, fitted top in cotton jersey with narr..."

In [71]:
copy_df = a.copy()

In [45]:
art.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [36]:
copy_df.drop(columns=['product_code', 'prod_name', 'product_type_no',
                       'graphical_appearance_no', 'graphical_appearance_name', 'colour_group_code',
                       'colour_group_name','perceived_colour_value_id',
                       'perceived_colour_master_id', 'perceived_colour_master_name', 
                       'department_name', 'index_code', 'index_group_no', 'section_no', 
                       'section_name', 'garment_group_no', 'detail_desc'], inplace= True)

In [72]:
copy_df = copy_df[['article_id', 'product_type_name', 'product_group_name', 'graphical_appearance_no', 'colour_group_name', 'perceived_colour_master_name', 'department_name', 'index_name', 
'index_group_name', 'section_no', 'garment_group_name']]

In [74]:
copy_df.set_index('article_id', inplace=True)

In [75]:
copy_df = pd.get_dummies(copy_df, columns=['product_type_name', 'product_group_name', 'graphical_appearance_no', 'colour_group_name', 'perceived_colour_master_name', 'department_name', 'index_name', 
'index_group_name', 'section_no', 'garment_group_name'])

In [76]:
copy_df.columns

Index(['product_type_name_Ballerinas', 'product_type_name_Belt',
       'product_type_name_Bikini top', 'product_type_name_Blazer',
       'product_type_name_Blouse', 'product_type_name_Bodysuit',
       'product_type_name_Bra', 'product_type_name_Cardigan',
       'product_type_name_Costumes', 'product_type_name_Dress',
       ...
       'garment_group_name_Knitwear', 'garment_group_name_Outdoor',
       'garment_group_name_Shoes', 'garment_group_name_Shorts',
       'garment_group_name_Skirts', 'garment_group_name_Socks and Tights',
       'garment_group_name_Swimwear', 'garment_group_name_Trousers',
       'garment_group_name_Trousers Denim',
       'garment_group_name_Under-, Nightwear'],
      dtype='object', length=181)

In [47]:
from sklearn.metrics import jaccard_score

In [77]:
from scipy.spatial.distance import squareform
from scipy.spatial.distance import pdist, jaccard

res = pdist(copy_df, 'hamming')
squareform(res)
distance = pd.DataFrame(squareform(res), index=df.article_id, columns= df.article_id)

In [78]:
distance.head()

article_id,706016001,706016002,372860001,610776002,759871002,464297007,372860002,610776001,399223001,706016003,...,559616013,563519008,547780003,599580024,736573002,446224002,188183001,570002002,743098001,697091002
article_id,,,,,,,,,,,,,,,,,,,,,
706016001,0.000000,0.022099,0.077348,0.077348,0.055249,0.088398,0.099448,0.099448,0.033149,0.022099,...,0.077348,0.077348,0.066298,0.110497,0.110497,0.044199,0.077348,0.099448,0.099448,0.066298
706016002,0.022099,0.000000,0.099448,0.099448,0.077348,0.110497,0.099448,0.099448,0.055249,0.011050,...,0.099448,0.099448,0.066298,0.099448,0.110497,0.066298,0.099448,0.099448,0.099448,0.088398
372860001,0.077348,0.099448,0.000000,0.066298,0.077348,0.066298,0.022099,0.088398,0.077348,0.099448,...,0.055249,0.066298,0.110497,0.088398,0.088398,0.077348,0.055249,0.099448,0.088398,0.066298
610776002,0.077348,0.099448,0.066298,0.000000,0.055249,0.077348,0.088398,0.022099,0.077348,0.099448,...,0.066298,0.011050,0.099448,0.099448,0.099448,0.066298,0.066298,0.066298,0.088398,0.055249
759871002,0.055249,0.077348,0.077348,0.055249,0.000000,0.088398,0.099448,0.077348,0.055249,0.077348,...,0.077348,0.055249,0.077348,0.110497,0.110497,0.044199,0.077348,0.077348,0.099448,0.077348

In [85]:
distance.to_csv('/home/exouser/HnMRecProject/HnM-recommender-on-the-cloud/extracted/ContentBased.csv')